<h1 class="page-header">Search</h1>

<div class="row">
    <div id="basic_search">
      <div class="form-group form-horizontal">
        <label for="quicksearch" class="col-sm-2 control-label">Quick Search</label>
        <div class="col-sm-7">
          {{input type="text" id="quicksearch" value=searchQuery action="quickSearch" placeholder="search artist, album, or track" class="form-control"}}
        </div>
        <div class="col-sm-1">
          <button class="btn btn-default" {{action 'quickSearch'}}>Search</button>
        </div>
      </div>
    </div>
</div>

<div class="row">
<h2>Results {{#if model}}<small>({{model.meta.count}})</small>{{/if}}</h2>
{{#if currentlyLoading}}

<h4><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Searching...</h4>

{{else}}

{{#if model.meta.count}}
  {{release-list releaseSelected=(action 'gotoRelease') model=model}}

<nav>
  <ul class="pager">
    {{#if model.meta.previous}}
    <li>{{#link-to (query-params page=model.meta.previous)}}Previous Page{{/link-to}}</li>
    {{else}}
    <li class="disabled"><span>Previous Page</span></li>
    {{/if}}
    {{#if model.meta.next}}
    <li>{{#link-to (query-params page=model.meta.next)}}Next Page{{/link-to}}</li>
    {{else}}
    <li class="disabled"><span>Next Page</span></li>
    {{/if}}
  </ul>
</nav>
{{/if}}
{{/if}}

</div>

