<div class="container-fluid">

    <h1>Logging Sheet: {{ model.show.name }} <small>{{ model.date }} </small></h1>

    <div class="row">
    </div>

    <div class="modal fade" id="saveModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Submit Logging Sheet</h4>
                </div>
                <div class="modal-body">
                    <p>Please ensure your logging sheet is complete and correct before submitting.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Continue Working</button>
                    <input class="btn btn-primary" type="submit" name="final" value="Submit Logging Sheet">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <table class="table table-striped table-condensed floathead">

        {{playlist-table-header model=model}}

        <tbody>

        {{#each model.tracks as |track index|}}
        <tr >
            <td>{{one-index index}}</td>
            <td>{{ track.artist }}</td>
            <td>{{ track.title }}</td>
            <td>{{ track.album }}</td>
            <td>{{ track.duration }}</td>
            <td align="center">{{#if track.local }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{/if}} </td>
            <td align="center">{{#if track.australian }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{/if }} </td>
            <td align="center">{{#if track.female }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{/if }} </td>
            <td align="center">{{#if track.newRelease }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{/if }} </td>
        </tr>
        {{/each}}
        <tr>
            <td>+</td>
            <td>{{input enter="submitTrack" class="form-control input-sm" id="new-track-artist-field" value=artist name="artist" placeholder="Artist"}}</td>
            <td>{{input enter="submitTrack" class="form-control input-sm" value=track name="track" placeholder="Track"}}</td>
            <td>{{input enter="submitTrack" class="form-control input-sm" value=album name="album" placeholder="Album"}}</td>
            <td>{{input enter="submitTrack" class="form-control input-sm durationField" value=duration width="6" name="duration" placeholder="MM:SS"}}</td>
            <td align="center">
                {{input key-press="submitTrack" checked=local type="checkbox" name=local}}
            </td>
            <td align="center">{{input action="submitTrack" checked=australian type="checkbox" name=australian}}</td>
            <td align="center">{{input action="submitTrack" checked=female type="checkbox" name=female}}</td>
            <td align="center">{{input action="submitTrack" checked=newRelease type="checkbox" name=newRelease}}</td>
        </tr>

    </tbody>

    </table>
    <div class="pull-right">
        <button class="btn btn-default" {{action "submitTrack"}} name="save" value="Add Track">Add Track</button>
    </div>
</div>

