        <thead>
            <tr>
                <th colspan="9">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#saveModal">
                            Submit Logging Sheet
                        </button>
                    </div>
                    <h4>
                        <span id="local_label" class="{{localQuotaClasses}}">Local: {{localCount}}/{{localExpected}}</span>
                        <span id="aus_label" class="{{australianQuotaClasses}}">Australian: {{australianCount}}/{{australianExpected}}</span>
                        <span id="female_label" class="{{femaleQuotaClasses}}">Female: {{femaleCount}}/{{femaleExpected}}</span>
                    </h4>
            </th></tr>
            <tr>
                <th>#</th><th>Artist</th><th>Track</th><th>Album</th><th>Duration</th><th>Local</th><th>Aus</th><th>Fem</th><th>NR</th>
            </tr>
        </thead>

