<h4>
  <span id="local_label" class="{{localQuotaClasses}}">Local: {{localCount}}/{{localExpected}}</span>
  <span id="aus_label" class="{{australianQuotaClasses}}">Australian: {{australianCount}}/{{australianExpected}}</span>
  <span id="female_label" class="{{femaleQuotaClasses}}">Female: {{femaleCount}}/{{femaleExpected}}</span>
</h4>
