<tr class="playlistentry">

    {{#if editMode}}
    <td>{{one-index index}}</td>
    <td>{{input class="form-control input-sm"  value=track.artist name="artist" placeholder="Artist"}}</td>
    <td>{{input class="form-control input-sm" value=track.title name="track" placeholder="Track"}}</td>
    <td>{{input class="form-control input-sm" value=track.album name="album" placeholder="Album"}}</td>
    <td align="right">{{input class="form-control input-sm durationField" value=track.duration width="6" name="duration" placeholder="MM:SS"}}</td>
    <td align="center">
        {{input checked=track.local type="checkbox" name=local}}
    </td>
    <td align="center">{{input  checked=track.australian type="checkbox" name=australian}}</td>
    <td align="center">{{input  checked=track.female type="checkbox" name=female}}</td>
    <td align="center">{{input  checked=track.newRelease type="checkbox" name=newRelease}}</td>
    <td align="right">
        <button class="btn btn-xs btn-success btn-playlist-add" {{action "updateTrack"}}><span class="glyphicon glyphicon-ok"></span></button>
    </td>
    {{else}}

    <td>{{one-index index}}</td>
    <td>{{ track.artist }}</td>
    <td>{{ track.title }}</td>
    <td>{{ track.album }}</td>
    <td align="right">{{pretty-duration track.duration }}</td>
    <td align="center">{{#if track.local }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{/if}} </td>
    <td align="center">{{#if track.australian }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{/if }} </td>
    <td align="center">{{#if track.female }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{/if }} </td>
    <td align="center">{{#if track.newRelease }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{/if }} </td>
    <td align="right" class="buttons" width="65">
        <button class="btn btn-xs" {{action "editTrack"}}   ><span class="glyphicon glyphicon-pencil"></span></button> 
        <button class="btn btn-xs" {{action "deleteTrack"}} ><span class="glyphicon glyphicon-remove"></span></button>
    </td>
    {{/if}}
</tr>
