<table class="table table-hover table-striped release-list">
  <thead>
    <tr>
        <th>Arrived</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Country</th>
        <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |release|}}
      <tr {{action 'releaseSelected' release}}>
            <td>{{short-date release.arrivaldate}}</td>
            <td>{{release.artist}}</td>
            <td>{{release.title}}</td>
            <td>{{release.cpa}}</td>
            <td>
              <span class="label label-default">{{release.cpa}}</span>
              {{#if release.isLocal}}
              <span class="label label-success">{{release.isLocal}}</span>
              {{/if}}

              {{#if release.isFemale}}
              <span class="label label-info">Female</span>
              {{/if}}

              {{#if release.demo}}
              <span class="label label-default">Demo</span>
              {{/if}}

              {{#if release.isCompilation}}
              <span class="label label-warning">Comp</span>
              {{/if}}
            </td>
        </tr>
    {{/each}}
  </tbody>
</table>

